body
{
	color:#333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-left: auto;
	margin-right: auto;
	width:940px;
}

.titulo 
{
	background-image:url(../Imagem/sobre-background.jpg);
	padding: 10px;
}

h2
{
	border-bottom: 2px solid #333333;
	margin-top: 30px;
}

p
{
	padding: 0 45px;
	text-indent: 15px;
}

figure
{
	background-color: #F2EDED;
	border:1px solid #ccc;
	text-align: center;
	padding: 15px;
	margin:30px;
}

figcaption
{
	font-style: italic;
	margin-top: 10px;
}

#centro-distribuicao
{
	margin-left: auto;
	margin-right: auto;
	width:550px;
}

#rodape
{
	color:#777;
	margin:30px 0;
	padding:30px 0;
}

#rodape img
{
	margin-right: 30px;
	vertical-align: middle;
	width:94px;
}

#familia-pelho
{
	float: right;
	margin:0 0 10px 10px;
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px;
}

.sacola {
	padding-top: 8px;
}

.container {
	margin: 0 auto;
	width: 940px;

}

header {
	position: relative;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
}

.sacola {
	position: absolute;
	top: 0;
	right: 0;
}

.sacola
{
	background-image: url(../Imagem/sacola.png);
	background-repeat: no-repeat;
	background-position: top right;

		font-size: 14px;
		padding-right: 35px;
		text-align: right;
		width: 140px;
}

.menu-opcoes ul
{
	font-size: 15px;
}

.menu-opcoes a
{
	color: #003366;
}